<p dir="ltr">Applausapplaus. Im letzten Jahr hast du dir 0 Pkt. gesichert und kannst dich mit Stolz level_name nennen.</p>
<p dir="ltr"><b>Dein Level bleibt dir in diesem Jahr auf jeden Fall erhalten.</b><br></p>
<p dir="ltr">Du willst diesen Status auch f&#252;rs n&#228;chste Jahr best&#228;tigen? Dann ist es wichtig, dass du von Januar bis Dezember mindestens genauso viele Punkte sammelst wie im Vorjahr.</p>
/build